<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <material name="red"><color rgba="1 0 0 1"/></material>
    <material name="blue"><color rgba="0 0 1 1"/></material>
    <material name="black"><color rgba="0 0 0 1"/></material>

    <link name="base_footprint"/>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.225" rpy="0 0 0"/>
    </joint>

    <link name="base_link"> 
        <visual>
            <geometry><box size="0.5 0.5 0.25"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>
        <inertial>
            <mass value="1.0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.02604" ixy="0.0" ixz="0.0" iyy="0.02604" iyz="0.0" izz="0.04167"/>
        </inertial>
        <collision>
            <geometry><box size="0.5 0.5 0.25"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <link name="right_wheel">
        <visual>
            <geometry><cylinder radius="0.1" length="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.5"/>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <inertia ixx="0.001355" ixy="0.0" ixz="0.0" iyy="0.001355" iyz="0.0" izz="0.001355"/>
        </inertial>
        <collision>
            <geometry><sphere radius="0.1"/></geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <link name="left_wheel">
        <visual>
            <geometry><cylinder radius="0.1" length="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.5"/>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <inertia ixx="0.001355" ixy="0.0" ixz="0.0" iyy="0.001355" iyz="0.0" izz="0.001355"/>
        </inertial>
        <collision>
            <geometry><sphere radius="0.1"/></geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <link name="caster_wheel">
        <visual>
            <geometry><sphere radius="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.2"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.0002" ixy="0.0" ixz="0.0" iyy="0.0002" iyz="0.0" izz="0.0002"/>
        </inertial>
        <collision>
            <geometry><sphere radius="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>


    <link name="lidar_link">
        <visual>
            <geometry><cylinder radius="0.05" length="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="red"/>
        </visual>
        <inertial>
            <mass value="0.1"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.00008" ixy="0.0" ixz="0.0" iyy="0.00008" iyz="0.0" izz="0.00008"/>
        </inertial>
        <collision>
            <geometry><cylinder radius="0.05" length="0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <link name="camera_link">
        <visual>
            <geometry><box size="0.05 0.05 0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="black"/>
        </visual>
        <inertial>
            <mass value="0.01"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.000004" ixy="0.0" ixz="0.0" iyy="0.000004" iyz="0.0" izz="0.000004"/>
        </inertial>
        <collision>
            <geometry><box size="0.05 0.05 0.05"/></geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>


    <joint name="right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="right_wheel"/>
        <origin xyz="-0.15 -0.275 -0.125" rpy="0 1.57 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="left_wheel"/>
        <origin xyz="-0.15 0.275 -0.125" rpy="0 1.57 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="caster_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="caster_wheel"/>
        <origin xyz="0.12 0 -0.175" rpy="0 0 0"/>
    </joint>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 0.13" rpy="0 0 0"/>
    </joint>


    <joint name="camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0.30 0 0" rpy="0 0 0"/>
    </joint>

    <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.55</wheel_separation>
      <wheel_radius>0.1</wheel_radius>
      
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>

    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <topic>/joint_states</topic>
      <joint_name>right_wheel_joint</joint_name>
      <joint_name>left_wheel_joint</joint_name>
    </plugin>
  </gazebo>
    <gazebo reference="caster_wheel">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
    </gazebo>

    <gazebo reference="camera_link">
    <sensor name="my_camera" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize> <update_rate>30.0</update_rate> <camera>
        <horizontal_fov>1.089</horizontal_fov> <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format> </image>
        <clip>
          <near>0.05</near> <far>8.0</far>    </clip>
      </camera>

      <topic>/camera/image_raw</topic>
    </sensor>
  </gazebo>

  <gazebo reference="lidar_link">
    <sensor name="gpu_lidar" type="gpu_lidar">
      <update_rate>10</update_rate>
      <topic>/scan</topic>
      <gz_frame_id>lidar_link</gz_frame_id>
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <visualize>true</visualize>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.12</min>
          <max>12.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo>

<gazebo reference="camera_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
</gazebo>


</robot>
